body {
	color: #333;
	font-size: 15px;
}
.panel-default > .panel-heading {
	background-color: lightblue;
	cursor: pointer;
}
.alert.alert-danger {
	background-color: #f2dede;
	color: #a94442;
}

.panel-heading  .panel-title:before {
	content: '';
	display: inline-block;
	position: relative;
	left: 0;
	top: 3px;
	border-width: 6px;
	border-style: solid;
	border-color: #0aa transparent transparent;
}
.panel-heading.collapsed  .panel-title:before {
	left: 3px;
	top: 0;
	border: 6px solid transparent;
	border-left-color: #0aa;
}

.row-striped {
	border: 1px solid #dddddd;
}
.row-striped:nth-of-type(odd) {
	background-color: #efefef;
}
.row-striped:nth-of-type(even) {
	background-color: #ffffff;
}
.row-striped > div {
	border-left: 1px solid #dddddd;
}
